
* { 
    color: gray;
    font-family: 'Georgia', serif, sans-serif;
    font-weight:bolder;
}
html {
  scroll-padding-top: 150px;
}
.header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
    position: sticky;
    width: 100%;
    z-index: 1;
    height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-resize {
    display:inline;
    margin-left: auto;
    margin-right: auto;
}

.landing {
  scroll-padding-top: 200px;
}

.landing-contact-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: calc(1vw + 1px);
    font-weight: bolder;
    font-style: italic;
    font-size: 45px;
    color: white;
    text-align: center;
}
.landing-contact-header2 {
    color:white;
    text-align: center;
}


.topnav {
    overflow: hidden;
    display: inline;
    margin: auto;
  }


  .topnav a {
    float: left;
    display: block;
    background-color:#3f3f3f;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 19px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
    margin: 5px;
    position: sticky;
  }
   .topnav a.active {
    background-color: #2e0069;
    color: white;
    padding: 16px 19px;
    position: sticky;
   }
 
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    position: sticky;
  }

input[type=text], select, textarea {
  width: 50%; 
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 15px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize:vertical;
  margin: auto;
  display: block;
}


input[type=submit] {
  background-color: #2e0069;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-inline-end: auto;
  margin: auto;
  display: block;
}

input[type=submit]:hover {
  background-color: #f2f2f2;

}

.container {
  border-radius: 5px;
  padding: 20px;
  margin: auto;
}

.background {
    background-image: linear-gradient(#000000, #6c007a);
    background-size: cover;
}

.footer {
  text-align: center;
  padding: 5px;
}